﻿<%@ Page Title="Inicio" Language="C#" MasterPageFile="~/makeup2/menu.master" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="MakeUp.App.UI.makeup2.index" %>
<asp:Content ID="Content1" ContentPlaceHolderID="headMenu" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="contenido" runat="server">
    <h2 class="page-header">Página de inicio</h2>
</asp:Content>
