﻿
@import url('estilos.css');
.cabecera

{
    height: 50px;
    width: 900px;
}

.pie {
    height: 2px;
    width: 900px;
}

#contenedor{
    position:absolute;
    width:800px;
    height:600px;
    z-index:1;
    background-color:#333;
    left: 50%;
}
